<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" enableVersionHeader="false" />
    <customErrors mode="Off"/>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="AES" />
    <pages enableViewStateMac="false" viewStateEncryptionMode="Never" validateRequest="false">
      <controls>
        <!-- No optimization references -->
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Pages/Login.aspx" timeout="30" />
    </authentication>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="OnlineStoreApp.Services.DiscountService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="OnlineStoreApp.Services.DiscountService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="OnlineStoreApp.Services.ZipcodeVerifierService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="OnlineStoreApp.Services.ZipcodeVerifierService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="OnlineStoreApp.Services.TaxCalculatorService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="OnlineStoreApp.Services.TaxCalculatorService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="OnlineStoreApp.Services.LastViewedProductService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="OnlineStoreApp.Services.LastViewedProductService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="OnlineStoreApp.Services.AgeVerificationService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="OnlineStoreApp.Services.AgeVerificationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
    <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>